In [4]:
import pandas as pd

In [21]:
df = pd.read_csv('../exercicio2/adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# How many people of each race are represented in this dataset? (1)
race_count = df["race"].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [ ]:
# What is the average age of men? (2)
average_age_men = df.loc[df.sex == "Male", "age"].mean().round(1)
print(average_age_men)

39.4

In [ ]:
# What is the percentage of people who have a Bachelor's degree? (3)
percentage_bachelors = df.loc[df.education == "Bachelors"]
percentage_bachelors = (percentage_bachelors.shape[0] * 100 / df.shape[0])
print(round(percentage_bachelors, 1))

16.4

In [ ]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K? (4)
higher_education_rich = df.loc[((df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")) & (df.salary == ">50K")]
higher_education_total = df.loc[((df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate"))]
higher_education_rich = (higher_education_rich.shape[0] * 100 / higher_education_total.shape[0])
print(round(higher_education_rich, 1))

46.5

In [ ]:
# What percentage of people without advanced education make more than 50K? (5)
lower_education_rich = df.loc[~((df.education == "Bachelors") | (df.education == "Masters") | (df.education == "Doctorate")) & (df.salary == ">50K")]
lower_education_total = df.loc[~((df.education == "Bachelors") | (df.education == "Masters") | (df.education== "Doctorate"))]
lower_education_rich = (lower_education_rich.shape[0] * 100 / lower_education_total.shape[0])
print(round(lower_education_rich, 1))

17.4

In [ ]:
# What is the minimum number of hours a person works per week? (6)
min_work_hours = df["hours-per-week"].min()
print(min_work_hours)

1

In [ ]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K? (7)
min_work_hours = df["hours-per-week"].min()
rich_percentage = df.loc[(df["hours-per-week"] == min_work_hours) & (df.salary == ">50K")]
total_min_work_hours = df.loc[df["hours-per-week"] == min_work_hours]
rich_percentage = (rich_percentage.shape[0] * 100 / total_min_work_hours.shape[0])
print(round(rich_percentage, 1))

10.0

In [37]:
# What country has the highest percentage of people that earn >50K and what is that percentage? (8)
rich_people = df.loc[df.salary == ">50K"]
rich_country = df.loc[rich_people, ['native-country', 'salary']]

print(rich_country)

KeyError: "None of [Index([                                                       ('a', 'g', 'e'),\n                                ('w', 'o', 'r', 'k', 'c', 'l', 'a', 's', 's'),\n                                               ('f', 'n', 'l', 'w', 'g', 't'),\n                                ('e', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n'),\n            ('e', 'd', 'u', 'c', 'a', 't', 'i', 'o', 'n', '-', 'n', 'u', 'm'),\n       ('m', 'a', 'r', 'i', 't', 'a', 'l', '-', 's', 't', 'a', 't', 'u', 's'),\n                           ('o', 'c', 'c', 'u', 'p', 'a', 't', 'i', 'o', 'n'),\n                 ('r', 'e', 'l', 'a', 't', 'i', 'o', 'n', 's', 'h', 'i', 'p'),\n                                                         ('r', 'a', 'c', 'e'),\n                                                              ('s', 'e', 'x'),\n                 ('c', 'a', 'p', 'i', 't', 'a', 'l', '-', 'g', 'a', 'i', 'n'),\n                 ('c', 'a', 'p', 'i', 't', 'a', 'l', '-', 'l', 'o', 's', 's'),\n       ('h', 'o', 'u', 'r', 's', '-', 'p', 'e', 'r', '-', 'w', 'e', 'e', 'k'),\n       ('n', 'a', 't', 'i', 'v', 'e', '-', 'c', 'o', 'u', 'n', 't', 'r', 'y'),\n                                               ('s', 'a', 'l', 'a', 'r', 'y')],\n      dtype='object')] are in the [index]"

In [ ]:
# Identify the most popular occupation for those who earn >50K in India. (9)
top_IN_occupation =